<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Nombre Mystère</title>
</head>
<body OnLoad="document.form.guessnumber.focus();">
    <div><p>Devine un nombre:</p></div>
    <form name="form" action="" method="post">
                    <input type="number" name="guessnumber"/>
                    <input type="submit" />
    </form>
    <div><p><%=guess%></p></div>
    <div><p><%=gsentence%></p></div>
    <div><p>Nombre d'essai: <%=gtries%></p></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>